* {
    box-sizing: border-box;
 }
body {
    margin: 0;
    margin-top: 100px;
    padding: 0;
}
header {
    padding: 25px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00c8de;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0; padding: 0;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    display: flex;
}
.logo{
    margin: 9px 0 0 10px;
}
header a {	
    color: #fff;
}
header nav {
    margin: 0 0 0 auto;
 }
header ul {
    list-style: none;
    margin: 0;
    display: flex;
}
header li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.simple_square_btn2 {
	display: block;
	position: relative;
	width: 75px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border:1px solid #1B1B1B;
    font-size: 14px;
    margin: 0 0 2px 12px;
}
.simple_square_btn2:hover {
	 background: #1B1B1B;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px 4% 10px; 
    text-align: center;
    background-color: #00c8de;
    position: absolute;/*絶対位置*/
    bottom: 0; /*下に固定*/
}
footer p{
    color: #fff;
    font-size: 14px;
    margin: 0 0 5px 0;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  table tr:hover{
    background-color: #d4f0fd;
  }
  
  table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
  }
  
#tablehead{
    background-color: #cccccc;
  }

.button{
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.button:active{
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.ybutton{
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00FF00;/*背景色*/
    border-bottom: solid 2px #00E600;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.ybutton:active{
    border-bottom: solid 2px #00FF00;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.nbutton{
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #ff3333;/*背景色*/
    border-bottom: solid 2px #ff3300;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.nbutton:active{
    border-bottom: solid 2px #ff3333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.sb{
    height: 30px;
    width: 120px;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #333;
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    -webkit-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
  }
  .sb:active{  /* クリックした時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: none;
  }